<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/articles">Wikinimous</a>
</nav>
<div class="container">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
</div>
<%= link_to "Edit article", edit_article_path%>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<p><%= link_to "Back to list", articles_path %></p>
